---
import { mailingAddress, organizationFullName, nonProfitStatus } from '../constants';
const currentYear = function getCurrentYear(): number {
  return new Date().getFullYear();
};
---

<footer class="bg-blue-900 text-center pt-20 mt-20 pb-6 px-5 sm:pb-3 sm:pt-8">
  <div class='-z-10 bg-pawPadSingle invert bg-no-repeat opacity-30 mx-auto p-5'>
    <div class="opacity-100!">
    <p class="text-white! text-lg mb-2">
      {mailingAddress}
    </p>
    <p class="text-white! text-xl font-bold mb-2">
      &copy; {organizationFullName}
    </p>
    <p class="text-white! text-md italic">
      {nonProfitStatus}
    </p>
  </div>
  </div>
</footer>
