---
// Destructure props directly from Astro.props
const { backgroundImage, headline, buttonText, buttonLink } = Astro.props;
---




<div 
  class="relative min-h-[500px] w-full bg-cover bg-center flex flex-col justify-end items-center text-left text-white p-8" 
  style={`background-image: url('${backgroundImage}');`}
>
  <h1 class="text-6xl shadow-inner font-bold">{headline}</h1>
  <a 
    href={buttonLink} 
    class="mt-4 bg-blue-500  hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-colors duration-300"
  >
    {buttonText}
  </a>
</div>


