---

---

<style>
  /* Additional styles for sliding menu */
  #nav-menu {
    transform: translateX(100%);
    transform: translateY(10%);
    width: 90%;
  }

  #nav-menu.active {
    transform: translateX(0%);
  }
</style>

<header class="flex flex-col sm:flex-row justify-between items-center py-2 bg-blue-600 text-white">
  <div class="flex justify-between items-center w-full sm:w-auto px-8">
    <img class="h-20" src="/FOMASlogo_hWh.png" alt="The official Friends of Mountainair Animal Shelter Logo">
    <!-- Hamburger Icon -->
    <button id="hamburger" class="sm:hidden px-2 py-1">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
    </button>
  </div>
  <!-- Navigation Links -->
  <nav id="nav-menu" class="fixed top-[90px] right-0 h-full bg-blue-600 text-white overflow-y-auto z-50 hidden ease-in-out">
    <ul class="flex flex-col space-y-2 p-4">
      <li><a href="/" class="font-bold block hover:bg-blue-700 p-4 rounded text-center">Home</a></li>
      <li><a href="/about" class="font-bold block hover:bg-blue-700 p-4 rounded text-center">About</a></li>
      <li><a href="/blog" class="font-bold block hover:bg-blue-700 p-4 rounded text-center">Blog</a></li>
      <li><a href="/dogs" class="font-bold block hover:bg-blue-700 p-4 rounded text-center">Dogs</a></li>
      <li><a href="/get-involved" class="font-bold block hover:bg-blue-700 p-4 rounded text-center">Get Involved</a></li>
      <li><a href="/resources" class="font-bold block hover:bg-blue-700 p-4 rounded text-center">Resources</a></li>
      <li><a href="/donate" class="font-bold block hover:bg-blue-700 p-4 rounded text-center">Donate</a></li>
      <li><a href="/contact" class="font-bold block hover:bg-blue-700 p-4 rounded text-center">Contact</a></li>
    </ul>
  </nav>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const hamburger = document.getElementById('hamburger');
    const navMenu = document.getElementById('nav-menu');

    hamburger.addEventListener('click', () => {
      navMenu.classList.toggle('hidden');
      navMenu.classList.toggle('active');
    });
  });
</script>
