---
import { mailingAddress, nonProfitStatus, phoneNumber } from "../constants";
---

<div class="container flex flex-col p-4 bg-blue-200 flex-grow">
  <div
    class="cta text-4xl font-bold text-blue-900 flex flex-row justify-between items-center"
  >
    Lets Connect!
    <div class="flex flex-row items-center h-fit">
      <!-- Social Links with added margin for the email icon -->
      <a href="mailto:woof@fomas.org" aria-label="Email" class="mr-4">
        <img src="./emailIcon.png" alt="Email" class="w-10 h-10" />
      </a>
      <a href="https://www.facebook.com" aria-label="Facebook">
        <img src="./facebookIcon.png" alt="Facebook" class="w-10 h-10" />
      </a>
    </div>
  </div>
  <div class="divider">
    <img src="./line-twOrange300.svg" alt="decorative-divider" class="m-2">
  </div>
  <div class="contact-info flex flex-col text-center text-blue-900 text-2xl">
    <p class="py-2">{phoneNumber}</p>
    <p class="py-2">{mailingAddress}</p>
    <p class="py-2">{nonProfitStatus}</p>
  </div>
</div>

