---
// TODO: Debug image not showing up in netlify deploy with spencer. 
const title = "Our Mission";
const content =
    "Our mission at FOMAS is to provide the highest quality of care to every dog we rescue.";
---

<div class="bg-missionBannerImage bg-cover bg-center min-h-[375px] flex flex-col justify-center items-center text-center p-4";>
    <div class="inner bg-white rounded-xl px-4 py-6">
        <h1 class="text-4xl pb-3 md:text-4xl font-bold text-blue-600">{title}</h1>
        <img src="./line-twOrange300.svg" alt="a wavy orange line separating the title from the content.">
        <p class="text-blue-900 prose lg:prose-lg mx-auto  mt-4">{content}</p>
    </div>
</div>
