---
// PlaceholderBlock.astro
const { text } = Astro.props;
---

<div class="flex items-center justify-center min-h-[300px] border-2 border-dashed border-gray-400 bg-gray-200 text-gray-800 text-center text-sm p-4 m-2">
  {text}
</div>
