---
import RightArrowButton from "./RightArrowButton.astro";
const animalDescription = "Every dog that comes through the doors of the Mountainair Animal Shelter receives more individualized attention than at other, larger shelters. We do not euthanize at our shelter.";
const cardTitle = "Meet Sophie!";
const cardHeading = "Success Story";
---

<!-- TODO: Figure out how to get the white card to extend beyond the y axis of the blue -->
<div class="bg-teal-300 ]">
  <div
    class="mt-10 card w-[90%] ] bg-white mx-auto  max-w-md rounded-3xl shadow-xl transition-all duration-300 ease-in-out hover:shadow-2xl"
  >
    <a href="/dogs" class="block">
      <div class="p-4">
        <p class="text-4xl font-bold px-4">
          {cardHeading}
        </p>
        <p class="text-2xl font-bold py-2 px-4">{cardTitle}</p>
        <img
          class="rounded-3xl max-h-60 w-full object-cover"
          src="/doggy.jpeg"
          alt="Sophie"
        />
        <div class="px-4 py-2">
          <p class="prose prose-sm max-w-none">{animalDescription}</p>
        </div>
        <div class="flex items-center justify-center">
          <RightArrowButton path="/dogs" />
        </div>
      </div>
    </a>
  </div>
</div>

