---
// Importing components and assets
import Onebytwo from "../components/Onebytwo.astro";
import donateGraphic from "../images/pawPrints/donateR.png"
import volunteerGraphic from "../images/pawPrints/volunteerL.png"
import foodBankGraphic from "../images/pawPrints/spayNeuterR.png"
---

<div class="container mx-auto max-w-[90%]">
    <h2 class="text-6xl p-2 text-center font-bold text-blue-600 leading-tight break-words">Support Our Mission!</h2>
    <div class="mx-auto lg:px-[10%] px-0">
        <Onebytwo
            title="Donate"
            description="Help us make a difference with your donations."
            image={donateGraphic}
            buttonLink="https://donate.stripe.com/7sIaHKbcagYz6ZOaEE"
            altText="Image of a pawprint representing donations"
        />
        <Onebytwo
            title="Volunteer"
            description="Join our team to make hands-on contributions."
            image={volunteerGraphic}
            buttonLink="/volunteer"
            altText="Image of a pawprint representing volunteering"
            reverse={true}
        />
        <Onebytwo
            title="Food Bank"
            description="Provide food supplies to those in need under our care."
            image={foodBankGraphic}
            buttonLink="/volunteer"
            altText="Image of a pawprint representing food donations"
        />
    </div>
</div>
