---
// Importing components and assets
import Onebytwo from "../components/Onebytwo.astro";
import pawPrint from "../images/horizontalPawprint.png"
---

<div class="container mx-auto max-w-[1200px] lg:px-[10%] px-4">
    <h2 class="text-6xl p-2 text-center font-bold text-blue-600 leading-tight break-words">Support Our Mission!</h2>
    <div class="mx-auto lg:px-[10%] px-0">
        <Onebytwo
            title="Donate"
            description="Help us make a difference with your donations."
            image={pawPrint}
            buttonLink="https://donate.stripe.com/test_5kA6pL79J7u1bTObII"
            altText="Image of a pawprint representing donations"
        />
        <Onebytwo
            title="Volunteer"
            description="Join our team to make hands-on contributions."
            image={pawPrint}
            buttonLink="/get-involved"
            altText="Image of a pawprint representing volunteering"
            reverse={true}
        />
        <Onebytwo
            title="Food Bank"
            description="Provide food supplies to those in need under our care."
            image={pawPrint}
            buttonLink="/get-involved"
            altText="Image of a pawprint representing food donations"
        />
    </div>
</div>
