---
const title = "Who We Are"
const content = "Our volunteers have single-handedly rescued dozens of dogs from high-kill shelters, rehabilitated them for medical problems or emotional stress and gotten them adopted into loving homes. We believe there is a permanent home for every single dog."
---

<div class="bg-amber-600 p-6 text-white mx-auto flex flex-col items-center">
    <h1 class="font-bold text-4xl py-4">{ title }</h1>
    <p class="py-4 prose text-white text-center">{ content }</p>
</div>