---
const title = "Why Fomas"
const imagePath = "./horizontalPawprint 3.png"
const content = "Every dog that comes through the doors of the Mountainair Animal Shelter receives more individualized attention than at other, larger shelters. We do not euthanize at our shelter, so if a dog comes in with serious behavioral or medical issues, we do everything in our capacity to address those needs, AND we have been 97% successful in these efforts, placing those dogs in permanent homes."
const logoPath = "./FOMASlogo_h-bk 1.svg"
---
<div class="container flex flex-col mt-8">
    <h1 class="text-6xl text-blue-600 font-bold text-center justify-center">{title}</h1>
    <div class="row">
        <div class="col-md-6">
            <img src={imagePath} alt="Pawprint" class="img-fluid">
        </div>
        <div class="col-md-6 max-w-[375]">
            <p>{content}</p>
            <img src={logoPath} alt="FOMAS Logo" class="img-fluid">
        </div>
</div>

