---
import Main from "../components/Main.astro";
import Layout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Welcome to the FOMAS Blog!";
import BlogPostFull from "../components/BlogPostFull.astro"
---

<Layout pageTitle={pageTitle}>
  <Main>
    <div class="min-h-screenpy-10">
      <div class="max-w-4xl mx-auto px-4">
        <h1 class="text-4xl font-bold text-center text-gray-900 my-8">{pageTitle}</h1>
        <p class="text-lg text-gray-700 mb-4">This is where I will post about my journey learning Astro.</p>
        <ul class="pl-5 space-y-2">
          {allPosts.map((post) => <BlogPostFull url={post.url} title={post.frontmatter.title} />)}
        </ul>
      </div>
    </div>
  </Main>
</Layout>
