---
import Main from "../components/Main.astro";
import Layout from "../layouts/BaseLayout.astro";
const pageTitle = "Welcome to the FOMAS Blog!";
---

<Layout pageTitle={pageTitle}>
  <Main>
    <div class="min-h-screenpy-10">
      <div class="max-w-4xl mx-auto px-4">
        <h1 class="text-4xl font-bold text-center text-gray-900 my-8">{pageTitle}</h1>
        <p class="text-lg text-gray-700 mb-4">This is where I will post about my journey learning Astro.</p>
        <ul class="pl-5 space-y-2">
          <li><a href="/posts/post-1/" class="text-blue-600 hover:text-blue-800 transition duration-150 ease-in-out">Post 1</a></li>
          <li><a href="/posts/post-2/" class="text-blue-600 hover:text-blue-800 transition duration-150 ease-in-out">Post 2</a></li>
          <li><a href="/posts/post-3/" class="text-blue-600 hover:text-blue-800 transition duration-150 ease-in-out">Post 3</a></li>
        </ul>
      </div>
    </div>
  </Main>
</Layout>
