---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import BlogCard from "../components/BlogCard.astro"
import SucessStoryCard from "../components/SucessStoryCard.astro"
import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';

---

<Layout title="FOMAS | Home">
    <Main>
        <p>hello world</p>
    </Main>
</Layout>