---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import BlogCard from "../components/BlogCard.astro"
import SucessStoryCard from "../components/SucessStoryCard.astro"
import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';

---

<Layout title="FOMAS | Home">
    <Main>
        <BlogCard title="Hello World" date="2021-08-01" description="This is a test blog post."></BlogCard>
        <SucessStoryCard title="Hello World" date="2021-08-01" description="This is a test success story."></SucessStoryCard>
    </Main>
</Layout>