---
import Layout from "../layouts/BaseLayout.astro"
import Main from "../components/Main.astro"
import BlogCard from "../components/BlogCard.astro"
import SucessStoryCard from "../components/SucessStoryCard.astro"
import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';

---

<Layout pageTitle="FOMAS | Home">
    <Main>
        <BlogCard />
        <SucessStoryCard />
    </Main>
</Layout>