---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <p class="text-xl">
        Nestled at the base of the Manzano Mountains is the small community of
        Mountainair, New Mexico. The town itself holds 850+ citizens, but with
        the folks in the surrounding areas there are near 1500 people in the
        community. FoMAS has had the good fortune of being able to collaborate
        with the Town of Mountainair. Together we have turned what was once a
        "dog pound" into a legitimate dog shelter. The shelter itself has only
        eight kennels, but one of the advantages of having so few kennels is
        that every dog that comes through the doors of the Mountainair Animal
        Shelter receives more individualized attention than at other, larger
        shelters. We do not euthanize at our shelter, so if a dog comes in with
        serious behavioral or medical issues, we do everything in our capacity
        to address those needs, AND we have been 97% successful in these
        efforts, placing those dogs in permanent homes. Friends of the
        Mountainair Animal Shelter volunteers provide the dogs with at least two
        walks a day. Sometimes the dogs go on “field trips” to Santa Fe or
        Albuquerque. Thanks to our generous donors, they have plenty of toys to
        play with and Kongs filled with treats to keep them busy. We have the
        advantage of being located at the rodeo grounds, so the rodeo arena is a
        great place to play fetch and romp in play groups with other dogs! Many
        of our foster families are retired and home most of the day to provide
        the TLC that some of our sick or neglected dogs need. Some of our foster
        homes are situated on 20+ acres, so the dogs have a peaceful spacious
        place to rehabilitate from either a medical or behavioral issue. Our
        volunteers single-handedly have rescued dozens of dogs from high-kill
        shelters, rehabilitated them for medical problems or emotional stress
        and gotten them adopted into loving homes. We believe there is a
        permanent home for EVERY. SINGLE. DOG. That’s why FOMAS is a great
        organization to support!
      </p>
    </main>
    <Footer />
  </body>
</html>
