---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <p>
        Our dog shelter would just be a building with kennels if not for the
        hearts and souls of our amazing volunteers. FOMAS volunteers do
        everything from transporting animals from high kill shelters to the
        safety of the shelter, taking dogs to the vet for shots and other
        medical needs, to cleaning kennels and walking dogs. Volunteers have
        also helped with many fund-raising activities. There is always something
        to do.
      </p>
      <p>
        We are also in need of volunteers to foster dogs temporarily while they
        wait for their future homes. They may have just been spayed or neutered
        and need a place to recover for about a week.
      </p>
      <p>
        Feeling creative? We have begun a unique greeting card line and welcome
        an extra pair of hands in making them. We are always trying to reach a
        wider audience of potential adopters for our dogs. Posting fliers of
        available dogs around town or in your area spreads the word! Photography
        pro? The better the photograph of the dog, the more likely they are to
        be adopted! Your help is crucial to this effort.
      </p>
      <p>
        These and many more activities require the tireless work of volunteers.
        Oh, and you automatically gain a pack of friends when you join us!
      </p>
      <p>
        All volunteers must undergo a background check in order to work on town
        property and directly with the dogs.
      </p>
      <p>
        Interested in helping out? Please fill out the following form and
        application and someone will get back with you soon!
      </p>
    </main>
    <Footer />
  </body>
</html>
