---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
interface Props {
	pageTitle: string;
	description?: string;
	image?: string;
}

const { pageTitle ="FOMAS", description="The Friends of Mountainair Animal Shelter", image='/FOMASlogo_hWh.png' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:image" content={image}>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="flex-col min-h-screen min-w-3.5" >
		<Header />
		<slot />
		<Footer />
	</body>
</html>
