---
const today = new Date();
import { MAILING_ADDRESS, PHONE_NUMBER } from "../consts";
import Header from "./Header.astro";
import Button from "./Button.astro";
---

<footer class="h-60 bg-blue-900 text-white px-6 py-4 flex overflow-hidden relative">
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="bg-footerPawPrints opacity-30 h-40 w-40 invert"></div>
  </div>
  <div class="z-10 flex-1">
    <p class="text-6xl">Get In Touch!</p>
    <p class="text-xl py-4">{MAILING_ADDRESS}</p>
    <p class="text-xl py-4">{PHONE_NUMBER}</p>
  </div>
  <div class="z-10 flex-1 flex flex-col">
    <div class="flex space-x-4 mb-48 ml-24 mt-20">
      <button class="hover:bg-blue-500 rounded-md  p-4 bg-blue-600" onclick="location.href='mailto:woof@fomas.org';">
        Email
      </button>
      <a href="https://www.facebook.com/" target="_blank" class="hover:bg-blue-500 rounded-md  p-4 bg-blue-600 inline-block text-center">
        Facebook
      </a>
      <button class="rounded-md  p-4 bg-blue-600 hover:bg-blue-500" onclick="location.href='/dogs';">
        Adoption Application
      </button>
      <button class="rounded-md p-4 bg-blue-600 hover:bg-blue-500" onclick="location.href='/resources';">
        Resources
      </button>
    </div>
    <div>
      <p class="text-sm ml-24 items-center">
        © {today.getFullYear()} Friends of Mountainair Animal Shelter. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>

<Header />
