---

---

<header class="flex justify-between items-center gap-2 py-4 bg-blue-600 text-white font-bold text-nowrap">
  <div>
    <img class="h-20 min-w-max" src="/FOMASlogo_hWh.png" alt="The official Friends of Mountainair Animal Shelter Logo">
  </div>
  <nav class="text-white px-24 min-w-1/2">
    <ul class="flex space-x-4">
      <li><a href="/" class=""></a></li>
      <li>
        <a href="/about" class="">About</a>
      </li>
      <li>
        <a href="/blog" class="">Blog</a>
      </li>
      <li>
        <a href="/dogs" class="">Dogs</a>
      </li>
      <li>
        <a href="/get-involved" class=""
          >Get Involved</a>
      </li>
      <li>
        <a href="/resources" class=""
          >Resources</a>
      </li>
      <li>
        <a href="/donate" class="">Donate</a>
      </li>
      <li>
        <a href="/contact" class="">Contact</a>
      </li>
    </ul>
  </nav>
</header>
