---
import HeaderLink from "./HeaderLink.astro";
---

<header class="bg-blue-600 text-white px-3 ">
  <nav class="flex justify-between items-center p-3">
    <img src="images/FOMASlogo_h.wh.png" alt="the fomas logo" class="h-16">
    <div class="internal-links flex gap-4">
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/volunteer">Get Involved</HeaderLink>
      <HeaderLink href="/donate">Donate</HeaderLink>
      <HeaderLink href="/resources">Resources</HeaderLink>
      <HeaderLink href="/dogs">Dogs</HeaderLink>
    </div>
  </nav>
</header>


