---
const animalDescription = "Every dog that comes through the doors of the Mountainair Animal Shelter receives more individualized attention than at other, larger shelters. We do not euthanize at our shelter."
const cardTitle = "Meet Sophie!";
const cardHeading = "Success Story";
---

<div class="card w-full outline outline-slate-300 max-w-80  min-h-fit mt-8 rounded-3xl shadow-3xl transition-all duration-300 ease-in-out">
  <a href="/blog-post">
    <div class="p-4">
      <p class="text-4xl font-bold text-blue-600 px-4">
        {cardHeading}
      </p>
      <p class="text-2xl font-bold py-2 px-4">{cardTitle}</p>
      <img class="rounded-3xl max-h-60 w-full object-cover" src="/doggy.jpeg" alt="Sophie" />
      <div class="px-4 py-2">
        <p class="text-sm">{animalDescription}</p>
      </div>
      <div class="flex justify-center p-4">
        <button class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out">
          Learn More!
        </button>
      </div>
    </div>
  </a>
</div>
