---
import Main from "../components/Main.astro";
import Layout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm.astro";

const pageTitle = "About";
---

<Layout pageTitle={pageTitle}>
  <Main>
    <body> 
      <ContactForm />
    </body>
  </Main>
</Layout>
