---
import Main from "../components/Main.astro";
import Layout from "../layouts/BaseLayout.astro";
import Onebyone from "../components/Onebytwo.astro";


const pageTitle = "FOMAS | About";
---

<Layout pageTitle={pageTitle}>
  <Main>
    <body> 
  


    </body>
  </Main>
</Layout>
