---
import Main from "../components/Main.astro";
import Layout from "../layouts/BaseLayout.astro";
import Onebyone from "../components/Onebyone.astro";

const pageTitle = "FOMAS | About";
const reversed = true;
---

<Layout pageTitle={pageTitle}>
  <Main>
    <body> 
      <Onebyone 
        title="Resources"
        description="Find a new forever friend today."
        image="/doggy.jpeg"
        buttonText="Resources"
        buttonLink="/resources"
        reverse={reversed}
      />
    </body>
  </Main>
</Layout>
