---
import Main from "../components/Main.astro";
import Layout from "../layouts/BaseLayout.astro";
import WhyFomas from "../components/WhyFomas.astro";


const pageTitle = "FOMAS | About";
---

<Layout pageTitle={pageTitle}>
  <Main>
    <body> 
      <WhyFomas />


    </body>
  </Main>
</Layout>
