---
import Main from "../components/Main.astro";
import Layout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<Layout pageTitle={pageTitle}>
  <Main>
    <body> 

    </body>
  </Main>
</Layout>
