---
import Main from "../components/Main.astro";
import Layout from "../layouts/BaseLayout.astro";

import MissionBanner from "../components/MissionBanner.astro";
const pageTitle = "FOMAS | About";
---

<Layout pageTitle={pageTitle}>
  <Main>
    <body> 

      <MissionBanner />
    </body>
  </Main>
</Layout>
