---
// Import necessary components and utilities
import { client } from "../libs/sanity/index";
import Layout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";
import Main from "../components/Main.astro";
import FullPageBanner from "../components/FullPageBanner.astro";
import LetsConnect from "../components/LetsConnect.astro";

// Fetch posts
const query = `*[_type == "post"]`;

const posts = await client.fetch(query);
const pageTitle = "Blog";
console.log(posts);
---
<Layout pageTitle={pageTitle}>
  <Main>
    <FullPageBanner
    backgroundImage="/get-involved-banner.png"
    headline="Meet Your New Best Friend"
    buttonText="Adopt Today"
    buttonLink="/contact"
/>
    <div class="min-h-screen py-10 bg-blue-200">
      <div class=" mx-auto">
        <!-- Responsive grid: single column by default, 3 columns from 'md' breakpoint and up -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-5 mx-auto">
          <!-- Map through posts and render each BlogCard -->
          {posts.map((post:any) => (
            <div class=""> <!-- Use w-full to ensure each card takes up the full width of its grid cell -->
              <BlogCard post={post} />
            </div>
          ))}
        </div>
      </div>
    </div>
    <LetsConnect />
  </Main>
</Layout>

<!-- 
&& defined(slug)] | order(publishedAt desc) {
  _id,
  title,
  slug,
  publishedAt,
  mainImage,
  body,
  "author": author->name, -->