---
// Import necessary components and utilities
import { client } from "../libs/sanity/index";
import Layout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";
import Main from "../components/Main.astro";

// Fetch posts
const query = `*[_type == "post" && defined(slug)] | order(publishedAt desc) {
  _id,
  title,
  slug,
  publishedAt,
  mainImage,
  body,
  "author": author->name,

}`;

const posts = await client.fetch(query);
const pageTitle = "Posts";
---
<Layout pageTitle={pageTitle}>
  <Main>
    <div class="min-h-screen py-10">
      <div class=" mx-auto">
        <h1 class="text-4xl font-bold text-center text-blue-950 my-8">{pageTitle}</h1>
        <!-- Responsive grid: single column by default, 3 columns from 'md' breakpoint and up -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-5 mx-auto">
          <!-- Map through posts and render each BlogCard -->
          {posts.map((post:any) => (
            <div class=""> <!-- Use w-full to ensure each card takes up the full width of its grid cell -->
              <BlogCard post={post} />
            </div>
          ))}
        </div>
      </div>
    </div>
  </Main>
</Layout>


