---
// Import necessary components and utilities
import { client } from "../libs/sanity/index";
import Layout from "../layouts/BaseLayout.astro";
import AnimalCard from "../components/AnimalCard.astro"; // Adjusted for animal profiles
import Main from "../components/Main.astro";
import FullPageBanner from "../components/FullPageBanner.astro";
import LetsConnect from "../components/LetsConnect.astro";

// Fetch animal profiles
const query = `*[_type == "animal" ] | order(name asc) {
  _id,
  slug,
breed,
images,
name,
bio,
"friendly_with": friendly_with[],
"not_friendly_with": not_friendly_with[],
adoption_status,
age

 
}`;

const dogs = await client.fetch(query);
console.log(dogs);

const pageTitle = "Adoption";
---
<Layout pageTitle={pageTitle}>
  <Main>
    <FullPageBanner
    headline="Adopt a Friend"
    backgroundImage="./blog-topper.png"
    buttonLink="/contact"
    buttonText="Get Started"
  />
    <div class="min-h-screen py-8 bg-blue-200">
      <div>
        <!-- Responsive grid for animal profiles -->
        <div class="grid grid-cols-1 md:grid-cols-3 mx-auto">
          <!-- Map through animals and render each AnimalCard -->
          {dogs.map((animal:any) => (
            <div> <!-- Ensure each card takes full width -->
              <AnimalCard animal={animal} />
            </div>
          ))}
        </div>
      </div>
    </div>
    <LetsConnect />
  </Main>
</Layout>
