---
import Main from "../components/Main.astro";
import Layout from "../layouts/BaseLayout.astro";
const pageTitle = "Donate";
---
<!-- 
<Layout pageTitle={pageTitle}>
    <Main>
        <DonationForm />
    </Main>
</Layout>
 -->