---
import Main from "../components/Main.astro";
import Layout from "../layouts/BaseLayout.astro";
import DoantionForm from "../components/DonationForm.tsx";
const pageTitle = "Donate";
---

<Layout pageTitle={pageTitle}>
    <Main>
        <DoantionForm />
    </Main>
</Layout>
