---
import Layout from "../layouts/BaseLayout.astro"
import Main from "../components/Main.astro"
import FullPageBanner from "../components/FullPageBanner.astro"
const pageTitle = "Get Involved"

---

<Layout pageTitle={pageTitle}>
        <FullPageBanner
            backgroundImage="./doggy.jpeg"
            headline="Get Involved"
            buttonText="Learn More"      
            buttonLink="/get-involved">
        </FullPageBanner>
        <Main>
            <h1>hello</h1>
        </Main>
</Layout>