---
import Layout from "../layouts/BaseLayout.astro"
import Main from "../components/Main.astro"
import BlogCard from "../components/BlogCard.astro"
import SucessStoryCard from "../components/SucessStoryCard.astro"
---

<Layout pageTitle="FOMAS | Home">
    <Main>
        <SucessStoryCard/>
    </Main>
</Layout>