---
import Layout from "../layouts/BaseLayout.astro";
import Main from "../components/Main.astro";
import FullPageBanner from "../components/FullPageBanner.astro";
import Onebyone from "../components/Onebytwo.astro";
import SuccessStoryCard from "../components/SuccessStoryCard.astro";
import WhyFomas from "../components/WhyFomas.astro";
import MissionBanner from "../components/MissionBanner.astro";
import LetsConnect from "../components/LetsConnect.astro";
import SupportOurMission from "../components/SupportOurMission.astro";
const pageTitle = "Home";
---

<Layout pageTitle={pageTitle}>
  <FullPageBanner
    backgroundImage="./doggy.jpeg"
    headline="Get Involved"
    buttonText="Learn More"
    buttonLink="/get-involved"
  />
  <Main>
    <Onebyone
      title="Resources"
      description="Find a new forever friend today."
      image="/horizontalPawprint 3.png"
      buttonLink="/resources"
    />
    <Onebyone
      title="Volunteer"
      description="Find a new forever friend today."
      image="/horizontalPawprint 3.png"
      buttonLink="/get-involved"
      reverse={true}
    />
    <SuccessStoryCard class="mt-5rem" />
    <WhyFomas
      title="Why Fomas?"
      content="Every dog that comes through the doors of the Mountainair Animal Shelter receives more individualized attention than at other, larger shelters. We do not euthanize at our shelter, so if a dog comes in with serious behavioral or medical issues, we do everything in our capacity to address those needs, AND we have been 97% successful in these efforts, placing those dogs in permanent homes."
      imagePath="/horizontalPawprint 3.png"
      logoPath="/FOMASlogo_h-bk 1.svg"
    />
    <MissionBanner
      title="Our Mission"
      content="To provide a safe and loving environment for animals in need."
    />
    <SupportOurMission />

    <LetsConnect />
  </Main>
</Layout>
