---
import Main from '../components/Main.astro';
import Layout from '../layouts/BaseLayout.astro';
const pageTitle = "Resources";
---

<Layout pageTitle={pageTitle}>
	<Main>
        <h1>Hello World</h1>
    </Main>
</Layout>
