---
import Main from "../components/Main.astro";
import Layout from "../layouts/BaseLayout.astro";
import FullPageBanner from "../components/FullPageBanner.astro";
import WhyFomas from "../components/WhyFomas.astro";
import ContactForm from "../components/ContactForm.astro";
import SupportOurMission from "../components/SupportOurMission.astro";
import LetsConnect from "../components/LetsConnect.astro";
import helpPawPrint from "../images/pawPrints/needYouV.png";
import logo from "../images/logos/fomas-full-blue.jpg"
const pageTitle = "Get Involved";
---

<Layout pageTitle={pageTitle}>
    <Main>
        <FullPageBanner
            backgroundImage="/get-involved-banner.png"
            headline="Meet Your New Best Friend"
            buttonText="Adopt Today"
            buttonLink="/contact"
        />
        <WhyFomas
            title="We Need Your Help!"
            content="Our volunteers have single-handedly rescued dozens of dogs from high-kill shelters, rehabilitated them for medical problems or emotional stress and gotten them adopted into loving homes. We believe there is a permanent home for every single dog."
            image={helpPawPrint}
            logo={logo}
        />
        <SupportOurMission />
        <ContactForm />
        <FullPageBanner
            backgroundImage="/got-questions.png"
            headline="Got Questions?"
            buttonText="Ask Us"
            buttonLink="/contact"
        />

        <LetsConnect />
    </Main>
</Layout>
