---
// Import the necessary libraries and configurations
import { sanityClient } from "sanity:client";
import Layout from "../../layouts/BaseLayout.astro";
import PortableText from "../../components/PortableText";
import Main from "../../components/Main.astro";
import  PortableTextBlock  from "@portabletext/types";
import PortableTextImage from "../../components/PortableTextImage.astro";
import type { Image } from "sanity";

export interface Post {
  _type: "post";
  _createdAt: string;
  title?: string;
  slug: string;
  excerpt?: string;
  mainImage?: Image;
  body: [];
}


export const getStaticPaths = async () => {
  const paths = await sanityClient.fetch(
    `*[_type == "post" && defined(slug.current)]{ "params": { "slug": slug.current } }`
  );
  return paths.map((post) => ({
    params: { slug: post.params.slug },
    props: { post },
  }));
};

const { post } = Astro.props;


---

<Layout pageTitle={post.title}>
  <Main>
    <article>
      <h1>{post.title}</h1>
      <div>
        {/* Render the post body using PortableText or a similar component */}
        <PortableText content={post.body} />
      </div>
    </article>
  </Main>
</Layout>

