---
// Import the necessary libraries and configurations
import { sanityClient } from "sanity:client";
import Layout from "../../layouts/BaseLayout.astro";

const params = Astro.params;
const slug = params.slug;

// Fetching the post data based on the slug provided by the static path
const posts = await sanityClient.fetch(
  `*[_type == "post" && slug.current == $slug][0]`, { slug }
);


if (!post) {
  throw new Error('Post not found');
}

const pageTitle = post.title;
---

<Layout pageTitle={pageTitle}>
  <article>
    <h1>{post.title}</h1>
    <div>
      {post.body}
      // Handle rendering of your post content here, taking into account rich text or block content as necessary.
    </div>
  </article>
</Layout>
