---
// Import the necessary libraries and configurations
import { sanityClient } from "sanity:client";
import Layout from "../../layouts/BaseLayout.astro";
import { PortableText } from "astro-portabletext";

export const getStaticPaths = async () => {
  const paths = await sanityClient.fetch(
    `*[_type == "post" && defined(slug.current)]{ "params": { "slug": slug.current } }`
  );
  return paths.map((post) => ({
    params: { slug: post.params.slug },
    props: { post },
  }));
};

const { post } = Astro.props;
---

<Layout pageTitle={post.title}>
  <article>
    <PortableText value={post.title}>
    <div>
      <PortableText value={post.body} />
    </div>
  </article>
</Layout>